# Ignore Gradle project-specific cache directory
.gradle

#Gradle folders
.project
.settings

# Ignore Gradle build output directory
build
bin
.vscode

# Ignore build of grammar
src/main/grammar


#Ignore macOs folders
.DS_Store

#Java
.classpath

#ANTLR
.antlr
grammar/.antlr

